body {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

header {
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
}

section {
  background-color: white;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer {
  text-align: center;
  color: #5567c9;
}

footer a {
  color: #5567c9;
  transition: all 150ms ease-in-out;
}

footer a:hover {
  font-weight: bold;
}
